# Ingore any build
build/

# Ignore any dist
dist/

# Ignore any egg-info
*.egg-info/

# Ignore any __pycache__
__pycache__/

# Ignore pycache in any directory
**/__pycache__/

# Ignore nomina-venv
nomina-venv/

# Ignore any build info in src/
src/*.egg-info/
